<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Document Editor</title>
  </head>
  <body>
    <h1>Word Document Editor</h1>
    <form action="/process" method="post">
      <label for="name">Activity Name:</label>
      <input type="text" name="name" required /><br />

      <label for="date">Activity Date:</label>
      <input type="text" name="date" required /><br />

      <label for="date">Activity Day:</label>
      <input type="text" name="day" required /><br />

      <label for="address">Venue:</label>
      <input type="text" name="place" required /><br />

      <label for="name">Duration:</label>
      <input type="text" name="timing" required /><br />

      <label for="address">Year:</label>
      <input type="text" name="year" required /><br />

      <label for="date">Date of Signature:</label>
      <input type="text" name="fromDate" required /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
